<div ng-app="myApp" ng-controller="View1Ctrl" class="inset" ng-cloak ng-init="loadData()">
    <h1>Sensor&nbsp;Dashboard</h1>

    <table class="table table-bordered" >
        <thead class="thead-dark">
        <tr>

            <th scope="col">Sensor&nbsp;ID</th>
            <th scope="col">Sensor&nbsp;Name</th>
            <th scope="col">Floor&nbsp;No</th>
            <th scope="col">Room&nbsp;No</th>
            <th scope="col">CO2</th>
            <th scope="col">Smoke</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tr ng-repeat="x in sensorList | orderBy : 'id'">

            <th scope="row">{{x.id}}</th>
            <td>{{x.sensorname}}</td>
            <td>{{x.floor}}</td>
            <td>{{x.room}}</td>
            <td>{{(x.status == "Active" ? (x.co2).toString().concat('%') : 'NA')}}</td>
            <td>{{(x.status == "Active" ? (x.smoke).toString().concat('%') : 'NA')}}</td>
            <td>{{x.status}}</td>
            <td>

                <button type="button" class="btn btn-info" data-backdrop="static"
                        data-keyboard="false" data-toggle="modal" data-target="#exampleModal{{x.id}}"><i
                        class="fas fa-edit"></i></button>

            </td>
        </tr>
    </table>

    <table>
        <tr ng-repeat="z in sensorList">
            <td>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{z.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form id="exampleModalForm{{z.id}}" ng-submit="saveData('exampleModalForm'.concat(z.id), z.id)">
                            <div class="modal-header">
                                <h5 class="modal-title">Set&nbsp;Smoke&nbsp;&amp;&nbsp;CO2&nbsp;Level</h5>
                                <button type="button" class="close" ng-click="loadData()" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>
                                    ID&nbsp;:&nbsp;{{z.id}}<br/>
                                    Sensor&nbsp;:&nbsp;{{z.sensorname}}<br/>
                                    Floor&nbsp;:&nbsp;{{z.floor}}<br/>
                                    Room&nbsp;:&nbsp;{{z.room}}
                                </h5>


                                    <label>Status
                                    <md-switch ng-model="z.status" aria-label="Status" ng-true-value="'Active'"
                                               ng-false-value="'Inactive'">{{ z.status }}</md-switch></label>

                                    <input hidden type="text" id="{{'id'.concat(z.id)}}" name="id" ng-model="z.id"/>
                                    <input hidden type="text" id="{{'sensorname'.concat(z.id)}}"name="sensorname" ng-model="z.sensorname"/>
                                    <input hidden type="text" id="{{'floor'.concat(z.id)}}"name="floor" ng-model="z.floor"/>
                                    <input hidden type="text" id="{{'room'.concat(z.id)}}"name="room" ng-model="z.room"/>
                                    <input hidden type="text" id="{{'status'.concat(z.id)}}"name="status" ng-model="z.status"/>
                                    <input hidden type="text" id="{{'co2'.concat(z.id)}}"name="co2" ng-model="z.co2"/>
                                    <input hidden type="text" id="{{'smoke'.concat(z.id)}}"name="smoke" ng-model="z.smoke"/>
                                    <md-slider-container>
                                        <span>CO2</span>
                                        <md-slider min="0" max="100" ng-disabled="(z.status == 'Inactive')"
                                                   ng-model="z.co2" aria-label="CO2"
                                                   class="md-warn">
                                        </md-slider>
                                        <md-input-container>
                                            <p>{{z.co2}}%</p>
                                        </md-input-container>
                                    </md-slider-container>

                                    <md-slider-container>
                                        <span>Smoke</span>
                                        <md-slider ng-model="z.smoke" min="0" ng-disabled="(z.status == 'Inactive')"
                                                   max="100" aria-label="Smoke"
                                                   class="md-warn">
                                        </md-slider>
                                        <md-input-container>
                                            <p>{{z.smoke}}%</p>
                                        </md-input-container>
                                    </md-slider-container>



                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="loadData()" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>

        </tr>

    </table>
</div>
<div>

</div>

